.App {
	text-align: center;
	background-color: rgb(15, 25, 43);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(240, 234, 255);
}

.contact-body {
	width: 100%;
	height: 95%;
	display: flex;
	flex-direction: row;
	align-items: start;
	justify-content: center;
	margin-top: 5%;
}

.email-form {
	display: flex;
	flex-direction: column;
	border: 2px solid rgb(37, 163, 163);
	/* filter: drop-shadow(-2mm -1mm 4mm rgb(73, 169, 207)); */
	border-radius: 10px;
	padding: 1em;
	width: 50%;
	overflow: hidden;
}

.email-form input {
	padding: 1em;
	margin: 0.5em;
	border-radius: 10px;
	border: 0;
}

.email-form textarea {
	padding: 1em;
	margin: 0.5em;
	border-radius: 10px;
	min-height: 20vh;
}

.name-email {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.name-email input {
	width: 50%;
	border: 0;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	font-family: "Roboto", sans-serif;
}

.name-is {
	color: rgb(92, 184, 184);
}

.shoot-email {
	color: rgb(165, 183, 202);
	font-size: 30px;
	margin-left: 1em;
}

.in-touch {
	color: rgb(240, 234, 255);
	font-size: 40px;
}

.contact-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 70%;
	text-align: left;
	margin-left: 30%;
}

.email-form input:focus {
	outline: none !important;
	border: 1px solid rgb(92, 184, 184);
	background-color: rgb(15, 25, 43);
	color: rgb(92, 184, 184);
	/* filter: drop-shadow(-0.5mm -0.5mm 4mm rgb(73, 169, 207)); */
}

.email-form textarea:focus {
	outline: none !important;
	border: 1px solid rgb(92, 184, 184);
	background-color: rgb(15, 25, 43);
	color: rgb(92, 184, 184);
}

.email-form input:focus::placeholder {
	color: white;
}

.email-form textarea:focus::placeholder {
	color: white;
}

.subject {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

.email-body {
	font-size: 16px;
	font-family: "Roboto", sans-serif;
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */
/* Screen larger than 13" */
@media only screen and (min-width: 1439px) {
}

/* 13" laptop */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.contact-container {
		width: 65%;
		margin-left: 15%;
	}
	.email-form {
		width: 80%;
	}

	.shoot-email {
		font-size: 25px;
	}
	.name-is {
		font-size: 60px;
	}
}

/* ipad 9.7 media query */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.contact-container {
		width: 100%;
		/* margin-left: 15%; */
	}
	.email-form {
		width: 80%;
	}

	.shoot-email {
		font-size: 20px;
	}
	.name-is {
		font-size: 40px;
	}

	.in-touch {
		font-size: 35px;
	}
}

/* iPhone X media query */
@media only screen and (max-width: 500px) {
	.contact-container {
		width: 80%;
		margin-left: 10%;
	}
	.email-form {
		width: 80%;
	}

	.shoot-email {
		font-size: 20px;
	}
	.name-is {
		font-size: 40px;
	}

	.in-touch {
		font-size: 25px;
	}
}
