.App {
	text-align: center;
	background-color: rgb(15, 25, 43);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: rgb(240, 234, 255);
}

.name-is {
	color: rgb(92, 184, 184);
}

.build-things {
	color: rgb(165, 183, 202);
	font-size: 80px;
	/* background-color: yellow; */
	margin: 0;
	margin-bottom: 0.2em;
}

.name {
	color: rgb(240, 234, 255);
	font-size: 80px;
	/* background-color: red; */
	margin: 0;
	margin-bottom: 0.3em;
}

.bio {
	color: rgb(165, 183, 202);
	width: 90%;
	letter-spacing: 0.5px;
	line-height: 1.8em;
	/* padding-left: 1em;
	padding-right: 1em; */
}

.app-body {
	width: 100%;
	height: 100%;
	/* background-color: green; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.bio-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 70%;
	margin-left: 5%;
	text-align: left;
	/* background-color: purple; */
}

.touch-btn {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 1px solid rgb(52, 219, 219);
	width: 140px;
	height: 55px;
	border-radius: 5%;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: rgb(52, 219, 219);
	font-weight: 800;
	margin-top: 5%;
	font-size: 15px;
}

.code-icon {
	padding-left: 1em;
	font-size: 100px;
	color: rgb(38, 170, 170);
}

.home-image {
	width: 20%;
	border-radius: 10px;
	background-color: green;
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */
/* Screen larger than 13" */
@media only screen and (min-width: 1439px) {
}

/* 13" laptop */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.name {
		font-size: 60px;
		margin-top: 0.3em;
	}
	.code-icon {
		font-size: 60px;
		/* margin-top: 0.2em; */
	}
	.build-things {
		font-size: 60px;
		margin-top: 0.3em;
	}
	.bio {
		margin-top: 2em;
	}
}

/* ipad 9.7 media query */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.name {
		font-size: 40px;
	}
}
