.App {
	text-align: center;
	background-color: rgb(15, 25, 43);
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: rgb(240, 234, 255);
}

.name-is {
	color: rgb(92, 184, 184);
}

.build-things {
	color: rgb(165, 183, 202);
	font-size: 80px;
}

.name {
	color: rgb(240, 234, 255);
	font-size: 80px;
}

.bio {
	color: rgb(165, 183, 202);
	width: 50%;
	letter-spacing: 0.5px;
	line-height: 1.4em;
}

.app-body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.projects-container {
	min-height: 50%;
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.touch-btn {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 1px solid rgb(52, 219, 219);
	width: 140px;
	height: 55px;
	border-radius: 5%;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: rgb(52, 219, 219);
	font-weight: 800;
	margin-top: 5%;
	font-size: 15px;
}

.project:hover {
	cursor: pointer;
}

.project:hover img {
	transform: scale(1.1);
	opacity: 0.4;
}

.project:hover .project-hover {
	opacity: 0.8;
}

.project {
	border-radius: 10px;
	width: 400px;
	height: 250px;
	overflow: hidden;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-image {
	width: 100%;
	height: 100%;
	opacity: 1;
	background-position: center;
}

/* [2] Transition property for smooth transformation of images */
.project-image img {
	transition: transform 0.05s ease;
}

.project-hover {
	opacity: 0;
	transform: translate(0%, -102%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgb(191, 221, 241);
	border-radius: 10px;
	/* overflow: hidden; */
}

.link {
	text-decoration: none;
	color: white;
	height: 100%;
	width: 100%;
}
