.Project {
	text-align: center;
	background-color: rgb(15, 25, 43);
	min-height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: rgb(240, 234, 255);
}

.project-body {
	width: 100%;
	/* min-height: 100%; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.projects-container {
	/* height: 100%; */
	margin-top: 5%;
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.touch-btn {
	background-color: transparent;
	background-repeat: no-repeat;
	border: 1px solid rgb(52, 219, 219);
	width: 140px;
	height: 55px;
	border-radius: 5%;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: rgb(52, 219, 219);
	font-weight: 800;
	margin-top: 5%;
	font-size: 15px;
}

.project:hover {
	cursor: pointer;
}

.project:hover img {
	transform: scale(1.1);
	opacity: 0.4;
}

.project:hover .project-hover {
	opacity: 0.8;
}

.project {
	border-radius: 10px;
	width: 400px;
	height: 250px;
	overflow: hidden;
	margin: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-image {
	width: 100%;
	height: 100%;
	opacity: 1;
	background-position: center;
}

/* [2] Transition property for smooth transformation of images */
.project-image img {
	transition: transform 0.05s ease;
}

.project-hover {
	opacity: 0;
	transform: translate(0%, -102%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	/* background-color: rgb(222, 237, 248); */
	border-radius: 10px;
	/* overflow: hidden; */
}

.project-hover p {
	margin-left: 1em;
	margin-right: 1em;
	text-align: left;
}
.project-hover h3 {
	margin-left: 1em;
	margin-right: 1em;
}

.link {
	text-decoration: none;
	color: rgb(52, 219, 219);
	height: 100%;
	width: 100%;
}

.toolset-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: red; */
	margin-top: 5%;
}

.toolset {
	/* background-color: purple; */
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.tool-icon {
	/* width: 80px; */
	height: 80px;
	border-radius: 10px;
}
.flask {
	background-color: white;
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */
/* Screen larger than 13" */
@media only screen and (min-width: 1439px) {
	.projects-container {
		margin-top: 5%;
	}
}

/* 13" laptop */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
	.projects-container {
		margin-top: 7%;
	}
}

/* ipad 9.7 media query */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.projects-container {
		margin-top: 10%;
	}
}
