.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 5%;
	min-height: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.icon {
	padding: 0.5em;
	font-size: 25px;
	color: rgb(165, 183, 202);
}

.icon a {
	text-decoration: none;
	color: rgb(165, 183, 202);
}

.icon a:hover {
	color: rgb(92, 184, 184);
}

/* ----------------------------- MEDIA QUERIES ----------------------------- */
/* Screen larger than 13" */
@media only screen and (min-width: 1439px) {
}

/* 13" laptop */
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
}

/* ipad 9.7 media query */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
}

/* iPhone X media query */
@media only screen and (max-width: 500px) {
	.sidebar {
		width: 9%;
	}
	.icon {
		font-size: 15px;
	}
}
